@import "../../../styles/variables.scss";

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:rgba(23, 145, 222, 0.925);
    height: 100%;
    padding: 30px;
    


    .form-section {
        height: 100%;
        width: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:start;
        
        border-radius: 20px;
        background-color: white;
        padding: 20px;
        gap: 25px;

        img {
            height: 150px;
            width: 150px;
            padding-bottom: -4000px;
        }

        h2 {
            padding: -100 0 500px 0;
            
        }

        button {
            width: 100%;
            border-radius: 8px;
            font-size: 16px;
            font-weight: 500;
            border: none;
            background-color: rgba(23, 145, 222, 0.925);
            padding: 12px 24px;
    
            font-size: 18px;
            font-weight: 500;
            color: white;

            cursor: pointer;

            &:disabled {
                opacity: 0.8;
            }
        }
    }

    
}